// utility classes
.clip-bottom {
  height: 101px;
  width: 100%;
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  position: absolute;
  bottom: -100px;
}

.clip-top {
  height: 101px;
  width: 100%;
  background-color: white;
  //   background-color: brown;
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
  position: absolute;
  top: -100px;
}

// styling
.hero-section-container {
  position: relative;
}
.hero-section-heading {
  // background-image: linear-gradient(
  //     to bottom,
  //     rgba(0, 52, 92, 0.3),
  //     rgba(0, 52, 92, 1)
  //   ),
  //   url("../../../public/images/miami-beach.jpg");
  position: relative;
  width: 100%;
  height: 70vh;
  z-index: 0;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    animation: 18s autoplay6 infinite linear, 6s zoom-in infinite ease-in;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .overlayHero {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 52, 92, 0.3),
      rgba(0, 52, 92, 1)
    );
  }
  .overlayText {
    position: absolute;
    top: 58%;
    left: 50%;
    z-index: 4;
    display: inline-block;
    width: 54%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    opacity: 1;
    animation: fade-in 2s normal ease-in-out;
    > h1 {
      font-size: var(--fs-primary-heading);
      font-family: var(--ff-heading);
      letter-spacing: -1px;
      font-weight: var(--fw-regular);
      margin-bottom: 4px;
    }
    > p {
      font-family: var(--ff-body);
      font-size: var(--fs-primary-heading-body);
      font-weight: var(--fw-regular);
      line-height: 1.5em;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes zoom-in {
  100% {
    transform: scale(1.1);
  }
}

@keyframes autoplay6 {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  37.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.hero-section-heading > img:nth-child(3) {
  animation-delay: 0s;
}
.hero-section-heading > img:nth-child(4) {
  animation-delay: 6s;
}
.hero-section-heading > img:nth-child(5) {
  animation-delay: 12s;
}

.hero-section-cta {
  background-color: var(--clr-background-dark_blue);
  .container {
    padding: 50px 0 200px 0;
    display: flex;
    gap: 1px;
  }
}

.cta-cards {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(242, 41, 91, 0) 100%
  );
  padding: 50px 35px;
  text-align: center;
  color: white;
  font-family: var(--ff-body);
  transition: all 0.2s;
  &:hover {
    box-shadow: 0px 60px 100px 5px rgba($color: black, $alpha: 0.3);
    transform: translateY(-10px);
  }
  > h4 {
    font-weight: var(--fw-regular);
    font-size: var(--fs-title);
    margin-bottom: 10px;
  }
  > p {
    font-size: 17px;
    line-height: 1.5em;
    font-weight: var(--fw-regular);
    color: rgba(255, 255, 255, 0.78);
    margin-bottom: 20px;
  }
  > a {
    text-decoration: none;
    font-family: var(--ff-body);
    font-size: 15px;
    color: var(--clr-primary-cyan);
    font-weight: 500;
    line-height: 24px;
  }
}

// featuressection
.features-section-container {
  position: relative;
  height: 70vh;
  width: 100%;
}

// widgets section
.widgets-section-container {
  padding: 200px 100px 200px 100px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 66, 116, 0.45),
      rgba(0, 66, 116, 0.45)
    ),
    url("../../../public/images/apartment-1.jpg");
  background-size: cover;
  background-attachment: fixed;

  .widgets-header {
    font-family: var(--ff-heading);
    font-size: 30px;
    font-weight: var(--fw-thin);
    color: white;
    text-align: center;
    padding: 50px 120px;
  }

  .widgets {
    display: flex;
    gap: 1px;
    a {
      display: block;
      background-color: rgba(0, 52, 92, 0.6);
      width: 25%;
      aspect-ratio: 1.5/1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      transition: all linear 0.2s;
      &:hover {
        box-shadow: 0px 60px 100px 10px rgba($color: black, $alpha: 0.3);
        transform: translateY(-10px);
      }
    }
  }
  .widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 50px;
      margin-bottom: 30px;
      filter: invert(100%);
    }
    p {
      text-transform: uppercase;
      font-family: var(--ff-title);
      color: white;
      font-weight: var(--fw-regular);
      font-size: 16px;
      text-decoration: none;
    }
  }
}

// grid section
.grid-section-container {
  position: relative;
  padding: 120px 0;
  width: 100%;
  .big-box {
    height: 75%;
  }
  .small-box {
    height: 25%;
  }
  .medium-box {
    height: 37.5%;
  }
  .grid {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    height: 850px;
    .column {
      display: flex;
      flex-direction: column;
      width: 33%;
      height: 100%;
      padding: 0px 12px;
    }
    .grid-header {
      margin: 12px 0;
      padding: 0;
      h3 {
        font-family: var(--ff-heading);
        font-size: 30px;
        font-weight: var(--fw-medium);
        line-height: 1.3em;
        letter-spacing: -1px;
        margin-bottom: 10px;
      }
      p {
        font-family: var(--ff-body);
        font-size: var(--fs-default);
        font-weight: var(--fw-regular);
        line-height: 1.5em;
      }
    }
    .grid-item {
      background-image: url("../../../public/images/apartment-1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: white;
      border-radius: 3px;
      position: relative;
      margin: 12px 0;
      padding: 30px 30px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .box-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 2;
        transition: all 0.2s;
        border-radius: 3px;
      }

      &:hover {
        .box-overlay {
          background-color: rgba($color: #000000, $alpha: 0.1);
        }
      }

      .grid-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 5;
        i {
          font-size: 22px;
        }
        p {
          font-family: var(--ff-body);
          font-weight: var(--fw-regular);
          font-size: var(--fs-xxs);
        }
      }
      .grid-title {
        z-index: 5;
        font-family: var(--ff-heading);
        font-weight: var(--fw-regular);
        p {
          font-size: var(--fs-xxs);
        }
        h4 {
          font-size: var(--fs-title);
        }
      }
    }
  }
}

// forms section
.forms-section-container {
  width: 100%;
  background-color: skyblue;
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 66, 116, 0.45),
      rgba(0, 66, 116, 0.45)
    ),
    url("../../../public/images/apartment-4.jpg");
  background-size: cover;
  background-attachment: fixed;
  .container {
    display: flex;
    justify-content: space-between;
    gap: 10%;
  }
  .forms-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    color: white;
    > h3 {
      font-family: var(--ff-heading);
      font-size: var(--fs-secondary-heading);
      font-weight: var(--fw-medium);
      letter-spacing: -1px;
      margin-bottom: 10px;
      line-height: 1.2;
      overflow-wrap: break-word;
    }
    p {
      color: rgba(255, 255, 255, 0.8);
      font-family: var(--ff-body);
      font-size: var(--fs-default);
      font-weight: var(--fw-regular);
      line-height: 1.5em;
      margin-bottom: 1rem;
      text-align: left;
      margin-bottom: 50px;
    }
    &::after {
      content: "";
      width: 18%;
      background-color: white;
      height: 1px;
    }
  }
  .form {
    width: 50%;
    background-color: white;
    padding: 40px;
    font-family: var(--ff-body);
    font-weight: var(--fw-medium);

    fieldset {
      border: 0;
      legend {
        font-weight: 600;
        font-size: 14px;
      }
    }

    select,
    input[type="email"],
    .smallFieldInput {
      width: 100%;
      height: 50px;
      padding: 0 20px;
      outline: none;
      border: 2px solid #dce0e0;
      border-radius: 3px;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 10px;
    }
    input[type="submit"] {
      width: 100%;
    }
    .smallFieldInput {
      width: 49%;
    }
    .odd {
      margin-right: 2%;
    }
  }
}

// content types
.content-types-section-container {
  position: relative;
  width: 100%;
  padding: 120px 0;
  .content-types-header {
    text-align: center;
    margin-bottom: 20px;
    h3 {
      font-family: var(--ff-heading);
      font-size: var(--fs-secondary-heading);
      font-weight: var(--fw-medium);
      letter-spacing: -1px;
      margin-bottom: 10px;
    }
    p {
      font-family: var(--ff-body);
      font-size: var(--fs-default);
      font-weight: var(--fw-regular);
      line-height: 1.5em;
      color: #7a7a7a;
      padding: 0 150px;
    }
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .small-box {
    width: 25%;
    aspect-ratio: 1/1;
  }
  .big-box {
    width: 50%;
    aspect-ratio: 2 /1;
  }

  a {
    padding: 15px;
    text-decoration: none;
    color: white;
  }
  .content-box {
    background-image: url("../../../public/images/appartment.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: inherit;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // transition: all 3s;
    position: relative;
    z-index: 1;
    .box-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 2;
      transition: all 0.2s;
      border-radius: 3px;
    }
    &:hover {
      .box-overlay {
        background-color: rgba($color: #000000, $alpha: 0.1);
      }
    }
    h4 {
      font-family: var(--ff-title);
      font-size: var(--fs-title);
      font-weight: var(--fw-medium);
      text-transform: uppercase;
      z-index: 3;
    }
    p {
      font-family: var(--ff-body);
      font-size: var(--fs-xxs);
      font-weight: var(--fw-medium);
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.78);
      z-index: 3;
    }
  }
}

// agents section
.agents-section-container {
  background-color: #f8f8f8;
  .container {
    padding: 100px 0;
  }
  .agents-header {
    margin-bottom: 50px;
    h3 {
      font-family: var(--ff-heading);
      font-weight: var(--fw-medium);
      font-size: var(--fs-secondary-heading);
      text-align: center;
    }
    p {
      font-family: var(--ff-body);
      font-weight: var(--fw-regular);
      font-size: 18px;
      color: #7a7a7a;
      text-align: center;
    }
  }
  .agents-body {
    display: flex;
    gap: 1px;

    .agent-card {
      text-align: center;
      padding: 30px;
      width: 100%;
      background-color: white;
      transition: all 0.2s;
      &:hover {
        box-shadow: 0px 60px 100px 5px rgba($color: black, $alpha: 0.3);
        transform: translateY(-10px);
      }
      img {
        width: 150px;
        border-radius: 50%;
        margin: auto;
        margin-bottom: 30px;
      }
      .agent-name,
      .agent-profile {
        text-decoration: none;
        font-family: var(--ff-body);
        font-size: 15px;
        color: var(--clr-primary-cyan);
        font-weight: 600;
        line-height: 24px;
      }
      .agent-position {
        font-family: var(--ff-body);
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 30px;
      }
      .agent-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
        -webkit-box-orient: vertical;
        margin-bottom: 30px;
        text-align: center;
        color: 636363;
        font-family: var(--ff-body);
        font-size: 15px;
        font-weight: var(--fw-regular);
        line-height: 24px;
      }
    }
  }
}

// sponsors section
.sponsors-section-container {
  .sponsors {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
  }
}
