.upperSection {
  background-color: var(--clr-background-blue);
  padding: 100px 0 70px 0;
}

.copyrightSection {
  background-color: var(--clr-background-dark_blue);
}

footer {
  color: white;
  h4 {
    font-weight: var(--fw-bold);
    font-family: var(--ff-body);
    font-size: var(--fs-default);
  }
  p,
  a {
    font-family: var(--ff-heading);
    font-size: var(--fs-xs);
    font-weight: var(--fw-regular);
    line-height: 25px;
  }
}

.footerContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.about,
.contact {
  flex-basis: 25%;
  > div {
    margin-bottom: 20px;
  }
  i {
    margin-right: 10px;
  }
  a {
    text-decoration: none;
    color: white;
    transition: color 0.2s;
    &:hover {
      color: #00aeef;
    }
  }
}

.contact p {
  margin-bottom: 10px;
}

.footer-cta-btn {
  font-weight: var(--fw-bold);
}

.newsletter {
  > div {
    margin-bottom: 20px;
  }
}

.newsletterInput {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  input {
    flex-grow: 2;
    border: 1px solid #dce0e0;
    border-radius: 5px;
    padding-left: 15px;
    color: #222222;
    min-height: 42.5px;
    font-family: var(--ff-body);
    font-size: 15px;
    font-weight: var(--fw-medium);
    &::placeholder {
      opacity: 50%;
    }
    &:focus {
      outline: none;
      border-color: var(--clr-primary-cyan);
    }
  }
  button {
    flex-grow: 1;
  }
}

.copyrightSection {
  padding: 20px 0;
}

.copyrightSection > :first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--ff-heading);
  font-size: var(--fs-xs);
  font-weight: var(--fw-regular);
  > div {
    padding: 10px 0;
  }
}

.footerNav {
  ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  a {
    text-decoration: none;
    color: white;
    transition: color 0.2s;
    &:hover {
      color: #00aeef;
    }
  }
}

.footerSocial {
  i {
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.2s;
    &:hover {
      color: #00aeef;
    }
  }
}

@media (max-width: 575px) {
  .about,
  .contact {
    flex-basis: 100%;
  }
  .newsletter {
    flex-basis: 100%;
  }
}

@media (min-width: 576px) {
  .about,
  .contact {
    flex: 1;
  }
  .newsletter {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .copyrightSection > :first-child {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .about,
  .contact {
    flex: 1;
  }
  .newsletter {
    flex: 2;
  }
}
